.header {
  position: relative;
  z-index: 100;
  background-color: $white;
  //margin-bottom: 2rem;

  .navbar {
    width: 100%;

    .navbar-nav {
      .menu-item {
        line-height: 44px;
        margin-right: 1rem;

        a {
          line-height: 20px;
        }
      }
    }

    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    //margin-bottom: 2rem;
  }
}
