.header {
  position: relative;
  z-index: 100;
  background-color: $primary;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, background-color 0.3s ease;

  &.is-hidden {
    transform: translateY(-100%);
  }

  &.is-sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbar {
    width: 100%;

    .navbar-nav {
      .menu-item {
        line-height: 44px;
        margin-right: 1rem;

        a {
          text-decoration: none;
          font-weight: 600;
          line-height: 20px;
          color: $white;
        }
      }
    }

    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $white;
      }

      img {
        border-radius: 2rem;
      }

      .icon {
        color: $white;
      }
    }
  }
}
