.header {
  position: relative;
  z-index: 100;
  background-color: $gray-200;
  margin-bottom: 2rem;

  .header__inner {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: $transition-base;
  }

  .navbar {
    width: 100%;

    .navbar-nav {
      .menu-item {
        line-height: 44px;
        margin-right: 1rem;

        a {
          line-height: 20px;
        }
      }
    }

    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    margin-bottom: 4rem;
  }
}
