.logo {
  .logo__image {
    display: block;
    width: auto;
    transition: $transition-base;
  }

  &.logo--header {
    flex: 0 0 auto;
    margin-right: auto;
    
    .logo__image {
      height: 60px;
    }
  }
  
  &.logo--footer {
    padding-bottom: 1.25rem;

    .logo__image {
      height: 160px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .logo {
    &.logo--header {
      margin-right: 2.5rem;
    }

    &.logo--footer {
      padding-bottom: 0;
    }
  }
}