.woocommerce-tabs {
  ul.tabs {
    @extend .nav;
    @extend .nav-tabs;
    justify-content: flex-start;
    gap: 1rem 2rem;

    li {
      @extend .nav-item;

      a {
        @extend .nav-link;
      }

      &.active a {
        @extend .active;
      }
    }
  }

  .woocommerce-Tabs-panel {
    @extend .tab-content;
    color: $white;
    background-color: $primary;
    padding: 1rem;
    border-radius: $border-radius;
    border-top-left-radius: 0;
  }
}