.nav.nav-tabs,
.nav.nav-pills {
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
  margin-top: 2rem;

  .nav-link {
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      color: $gray-900;
    }

    &.active {
      .icon {
        color: $primary;
      }
    }
  }
}

.tab-content {
  padding: 2rem 0;
}

@include media-breakpoint-up(lg) {
  .nav.nav-tabs,
  .nav.nav-pills {
    justify-content: flex-start;
    gap: 1rem;
  }
}
