.slider.slider--page-headline {
    .slider__item {
        display: block !important;
    }

    .slider__image {
        display: block;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        border-radius: 20px;
    }

    .slick-dots {
        margin-top: 0.75rem;

        li {
            width: 0.625rem;
            height: 0.625rem;
            margin: 0 0.375rem;

            button {
                border: none;
                background-color: $gray-400;
                transition: $transition-base;

                &:hover,
                &:focus {
                    transform: scale(1.5);
                    background-color: $gray-500;
                }
            }

            &.slick-active {
                button {
                    transform: scale(1.5);
                    background-color: $gray-500;
                }
            }
        }
    }
}