.page {
  min-height: 100vh;

  &.page--default {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .page__header {
    margin-bottom: 1.875rem;
  }

  .page__title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
  }
}

@include media-breakpoint-up(lg) {
  .page {
    &.page--default {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .page__title {
      font-size: 3.75rem;
    }
  }
}
