.section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .container--narrow {
    max-width: 1040px;

    .section__content {
      max-width: 640px;
      margin: 0 auto;
    }
  }

  .section__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
  }
  
  .section__title {
    font-weight: 800;
  }

  .section__lead {
    font-size: 1.125rem;
  }

  .section__footer {
    .card {
      max-width: 768px;
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-up(lg) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}