.section.section--single {
  padding-top: 0;

  .section__image-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .section__image {
    border-radius: 15px;
  }

  .section__subtitle {
    margin-bottom: 1rem;
  }

  .section__related {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section.section--single-page {
  .section__header {
    max-width: 100%;
    padding: 2.5rem 1.5rem;
    background-color: rgba($gray-400, 0.3);
    border-radius: 15px;

    .row {
      align-items: flex-end;
    }
  }

  .section__title {
    margin-bottom: 1rem;
  }

  .section__lead {
    margin-bottom: 0;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section__video {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;

    iframe {
      border-radius: 15px;
    }
  }

  .section__item {
    margin-top: 2.5rem;

    .row {
      align-items: flex-end;
    }
  }

  .section__item-title {
    margin-bottom: 1.25rem;
  }

  .section__item-actions {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2.5rem;
  }

  .section__item-image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    border-radius: 15px;
  }
}

.section.section--single-post {
  .section__header {
    margin-bottom: 3.125rem;
  }

  .section__title-wrapper {
    margin-bottom: 1.75rem;
    padding: 1.75rem 1.25rem 1.75rem 2.5rem;
    border: 1px solid rgba($gray-400, 0.3);
    border-radius: 15px;
    background-color: rgba($gray-400, 0.7);
    backdrop-filter: blur(17px);
  }

  .section__title {
    @include font-size(2.375rem);
  }

  .section__image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .section__lead {
    margin-bottom: 2rem;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section__button {
    margin-bottom: 2rem;
  }

  .section__ebook {
    margin-top: 2.75rem;
  }

  .section__gallery {
    padding-top: 2rem;
  }
}

.section.section--single-event {
  .section__title {
    @include font-size(3.125rem);
    margin-bottom: 1.25rem;
  }

  .section__subheader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.875rem;

    .section__subtitle {
      margin-bottom: 0;
    }
  }

  .section__subtitle {
    margin-bottom: 0.625rem;
    margin-right: auto;
  }

  .section__content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 3.25rem 0;
    }

    p {
      margin-bottom: 1.875rem;
    }

    .wp-block-embed {
      margin-bottom: 4.625rem;

      .wp-element-caption {
        margin-top: 1.25rem;
      }
    }
  }

  .section__agenda,
  .section__ebook {
    margin-top: 1.875rem;
    padding-top: 1.875rem;
    border-top: 1px solid $primary;
  }
}

.section.section--single-person,
.section.section--single-researcher {
  .section__header {
    margin-bottom: 1.5rem;
  }

  .section__image-wrapper {
    position: relative;
    max-width: 460px;
    margin: 0 auto;
  }

  .section__job {
    display: block;
    position: absolute;
    inset: auto 0.5rem -1.5rem 0.5rem;
    z-index: 1;
    padding: 1rem;
    border: 1px solid $gray-400;
    border-radius: 10px;
    background-color: rgba($gray-400, 0.75);
    backdrop-filter: blur(15px);
    font-size: 1.25rem;
    line-height: 1.1;
  }

  .section__title {
    margin-bottom: 0;
  }

  .section__button {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2.25rem;
    color: $black;
    font-size: 1.375rem;
    line-height: 1.1;
    text-decoration: none;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .section__content {
    p {
      font-size: 1.125rem;
    }
  }

  .section__meta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
  }

  .section__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .btn {
      text-decoration: none;

      .icon {
        margin-right: 5px;
      }
    }
  }

  .section__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .btn {
      font-size: 1.125rem;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .section__related {
    padding: 1rem;
    border-radius: 25px;
    background-image: linear-gradient(
        to bottom,
        rgba($gray-100, 1) 0%,
        rgba($gray-100, 0.3) 100%
      ),
      url("../images/home-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section.section--single-publication {
  .section__title {
    font-size: 3.75rem;
  }

  .section__doi {
    display: flex;
    align-items: center;
    margin-bottom: 1.625rem;
    font-size: 0.875rem;
    line-height: 1;

    abbr {
      text-decoration: none;

      .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.25rem;
      }
    }
  }

  .section__publication-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .section__data-box {
    position: relative;
    flex-grow: 1;
    padding: 4.5rem 1rem 0.5rem;
    border: 1px solid $gray-400;
    border-radius: 15px;
    background-color: rgba($gray-400, 0.75);
    backdrop-filter: blur(15px);
    font-family: $headings-font-family;
    font-size: 1.5rem;
    font-weight: $headings-font-weight;
  }

  .section__data-box-icon {
    position: absolute;
    inset: 1rem auto auto 1rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.625rem;
    background-color: $white;
    border-radius: 50%;
  }

  .section__data-box-link {
    display: block;
    font-size: 1.75rem;
    text-decoration: none;
    color: $black;
  }

  .section__ebook {
    padding-top: 4rem;
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      margin: 0 auto 0.75rem;
    }
  }

  .section__table {
    margin-bottom: 2.5rem;
    padding: 3.375rem 2.5rem;
    border-radius: 25px;
    background-image: linear-gradient(
        90deg,
        rgba($gray-200, 0.45) 0%,
        rgba($gray-200, 1) 35%
      ),
      url("../images/pillars.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto, 40% auto;
  }
}

.section.section--single-podcast {
  .section__header {
    margin-bottom: 1.875rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: $gray-200;
  }

  .section__header-left {
    padding-bottom: 1rem;

    .btn {
      width: 100%;
      margin-top: 1rem;
    }
  }

  .section__image {
    margin: 0 auto;
  }

  audio::-webkit-media-controls-panel {
    background-color: $gray-200;
  }

  .section__meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;

    & > span {
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 0.375rem;
      color: $primary;
    }
  }

  .section__related-person {
    p {
      margin-bottom: 0.75rem;
      color: $gray-600;
    }
  }

  .section__related-person-list {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .section__related-person-link {
    &:not(:first-child) {
      position: relative;
      margin-left: -1.25rem;
    }
  }

  .section__related-person-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .section__chapter-list {
    margin-top: 1rem;
  }

  .section__chapter-item {
    cursor: pointer;
    color: $primary;
  }
}

.section.section--single-video {
  .section__button {
    margin-bottom: 1rem;
  }

  .section__video-wrapper {
    margin-bottom: 2rem;
    border-radius: 15px;
    overflow: hidden;
  }
}

@include media-breakpoint-up(lg) {
  .section.section--single {
    .section__subtitle {
      margin-bottom: 2rem;
    }
  }

  .section.section--single-page {
    .section__item {
      margin-top: 3.75rem;

      &:nth-child(odd) {
        .row {
          flex-direction: row-reverse;
        }
      }
    }

    .section__item-image {
      margin-top: 0;
    }
  }

  .section.section--single-post {
    .section__header {
      display: flex;
      align-items: flex-end;
    }

    .section__title-wrapper {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .section__image-wrapper {
      flex: 0 0 calc(50% + 160px);
      max-width: calc(50% + 160px);
      margin-left: -160px;
    }
  }

  .section.section--single-person,
  .section.section--single-researcher {
    .section__header {
      margin-bottom: 0;
    }

    .section__job {
      inset: auto -46px -28px auto;
      padding: 1.125rem 2.25rem;
      font-size: 1.375rem;
    }

    .section__body {
      padding-left: 2.625rem;
    }

    .section__meta {
      margin: 4rem 0 0;
    }

    .section__related {
      margin-top: 8rem;
      padding: 2.25rem 2.75rem;
    }
  }

  .section.section--single-publication {
    .section__publication-data {
      flex-direction: row;
      align-items: flex-start;
      width: calc(100% + 4.5rem);
      margin-left: -4.5rem;
      margin-top: 2rem;
    }

    .section__data-box {
      padding: 4.5rem 2rem 2rem;
      font-size: 2.25rem;
    }

    .section__data-box-icon {
      inset: 1rem auto auto 2rem;
    }
  }

  .section.section--single-podcast {
    .section__header {
      display: flex;
      margin-bottom: 4.25rem;
      padding: 1.5rem 2.5rem;
    }

    .section__header-left {
      flex: 0 0 280px;
      max-width: 280px;
      padding-bottom: 0;
    }

    .section__header-right {
      flex: 0 0 calc(100% - 280px);
      max-width: calc(100% - 280px);
      padding-left: 4rem;
    }

    .section__title {
      margin-bottom: 1.25rem;
      line-height: 1.1;
      font-weight: 800;
    }

    .section__meta {
      flex-direction: row;
      align-items: center;
      gap: 0;

      & > span {
        &:not(:first-child) {
          margin-left: 1.5rem;
          padding-left: 1.5rem;
          border-left: 1px solid rgba($black, 0.4);
        }
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      span,
      a {
        color: rgba($primary, 0.7);
        font-size: 0.875rem;
        line-height: 1;
      }

      .icon {
        margin-right: 0.375rem;
        color: $primary;
      }
    }
  }

  .section.section--single-video {
    .section__video-wrapper {
      margin-bottom: 4rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .section.section--single-page {
    .section__header {
      padding: 3.5rem 3rem;
    }
  }

  .section.section--single-event {
    .section__subheader {
      flex-direction: row;
      align-items: center;
    }
  }

  .section.section--single-person,
  .section.section--single-researcher {
    .section__contact {
      flex-direction: row;
      align-items: center;
    }

    .section__links {
      flex-direction: row;
      align-items: center;
    }
  }
}
