.section.section--archive {
    .section__title-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .filter--search {
            max-width: 480px;
            height: max-content;
            margin: 0 0 0 auto;
        }
    }
}