.card.card--video {
    .card__link {
        padding: 1rem;
    }

    .card__content {
        padding: 2.25rem 1rem 0;
    }

    .card__title {
        font-size: 1.125rem;
        line-height: 0.9;
        font-weight: 600;
    }
}