.card.card--download {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    
    .card__header {
        flex: 0 0 auto;
    }

    .card__content {
        padding: 1.25rem 1.25rem 0.25rem 1.25rem;
    }

    .card__icon {
        width: 3rem;
        height: 3rem;
        margin: 0 auto 0 1.25rem;
    }

    .card__title {
        font-size: 1.375rem;
        line-height: 1.1;
    }

    .card__meta {
        color: rgba($black, .4);
		font-size: 0.875rem;
		line-height: 1;
    }

    .card__button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: auto -1px -1px auto;
        height: 3.125rem;
        border-radius: 5px 0 15px 0;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
            color: $white;
        }
    }
}