.card.card--small {
    margin-bottom: 0.875rem;
    border: none;
    border-radius: 0;
    background-color: transparent;

    &:last-child {
        margin-bottom: 0;
    }

    .card__link {
        flex-direction: row;
        padding: 0;
    }

    .card__header {
        width: 90px;
        flex: 0 0 90px;
        align-self: flex-start;
    }

    .card__image {
        aspect-ratio: 1 / 1;
        border-radius: 10px;
    }

    .card__content {
        padding-top: 0;
        padding-left: 1rem;
    }

    .card__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 0.875rem;
        font-size: 1.125rem;
        line-height: 1;
    }

    .card__button {
        margin-top: auto;
        position: static;
        font-size: 0.9375rem;
        
        .icon {
            margin-left: auto;
        }
    }
}