.card.card--slider {
	height: 160px;
	padding: 1.25rem;
	border: 1px solid rgba($white, 0.6);
	border-radius: 15px;
	background-color: rgba($primary, 0.6);
	backdrop-filter: blur(20px);

	.card__link {
		color: $black;
	}

	.card__title {
		margin-bottom: 1rem;
		font-size: 1.5rem;
		line-height: 1.25;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	.card__lead {
		p {
		margin-bottom: 0;
		padding-right: 1rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		}
	}

	.card__button {
		display: block;
		position: absolute;
		bottom: 0.5rem;
		right: 0.5rem;

		.icon {
		width: 30px;
		height: 30px;
		padding: 0.5rem;
		background-color: $secondary;
		color: $white;
		border-radius: 50%;
		}
	}
}
