.block {
    background-color: $white;
    padding: 1.25rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);

    .block__title {
        margin-bottom: .875rem;
        font-size: 1.5rem;
    }

    &.block--event-data {
        display: inline-flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
    }
}
